.env
images
8o039clockranch.WordPress.2024-12-11.xml
Posts-Export-2024-December-11-1202.csv
8oclockranch
8or-venv
major-objectives.txt
notes.txt
todo.txt
blog-upload-stdout.txt
faulty-blog-posts.txt
buglist.txt
